PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://pandeyanand2006_db_user:Anandmongodb21@ac-fddzn6r-shard-00-00.6ia7jo2.mongodb.net:27017,ac-fddzn6r-shard-00-01.6ia7jo2.mongodb.net:27017,ac-fddzn6r-shard-00-02.6ia7jo2.mongodb.net:27017/?ssl=true&replicaSet=atlas-lelzu8-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=ai_resume_analyzer_super_secret_key_2026
GROQ_API_KEY=adkjdjkjsdksjskdjskdjhskdjxxxxx
GROQ_MODEL=openai/gpt-oss-20b
GOOGLE_API_KEY=
FRONTEND_URL=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=pandeyanand2006@gmail.com
SMTP_PASS=ukxdurddcjaljndm
SMTP_SECURE=false
SMTP_FROM=pandeyanand2006@gmail.com
NOTIFY_EMAIL_FROM=ResumeAI  <pandeyanand2006@gmail.com>
